:host {

  article {
    margin: 30px 10px;

    .post-image {
      float: left;
      width: 100px;
      height: 100px;
      margin-right: 10px;

      background-color: #cccccc;

      img {
        width: 100%;
      }
    }
  }
}
