:host {
  .post-author {

    .post-author-image {
      img {
        float: left;
        max-width: 150px;
        margin-right: 1em;
      }
    }

    .post-author-name {
      font-size: 1.3em;
      font-weight: bold;
      margin-bottom: 1em;
    }

    .post-author-description {
      text-align: justify;
    }
  }
}
